@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 21px;
    font-family: "Montserrat", sans-serif;
    color: #373737;
    background: #F5F5F5;
}

.container{
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}